@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>HH | Himalayan Holidays</title>
    <!-- core CSS -->
    <link href="/Contents/Styles/bootstrap.min.css" rel="stylesheet">
    <link href="/Contents/Styles/font-awesome.min.css" rel="stylesheet">
    <link href="/Contents/Styles/prettyPhoto.css" rel="stylesheet">
    <link href="/Contents/Styles/animate.min.css" rel="stylesheet">
    <link href="/Contents/Styles/main.css" rel="stylesheet">
    <link href="/Contents/Styles/responsive.css" rel="stylesheet">
    <link href="/Contents/Styles/mobilemenu.css" rel="stylesheet" />
    <link href="/Contents/Styles/search.css" rel="stylesheet" />

    <!--[if lt IE 9]>
        <script src="/Contents/Scripts/html5shiv.js"></script>
        <script src="/Contents/Scripts/respond.min.js"></script>
    <![endif]-->

  @*<title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>*@
  @Html.Sitecore().VisitorIdentification()
</head>
  <body>
      <header id="header">
          <div class="top-bar navbar navbar-default" role="navigation" data-top="0" data-scroll="100">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                          <div class="top-number">
                              <p><i class="fa fa-phone-square"></i> +0123 456 70 90</p>
                          </div>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-6 pull-right">
                          <div class="social">
                              <ul class="social-share">
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!--/.container-->
              </div>
              <!--/.top-bar-->
          </div>

          <div id="stuck_container" class="stuck_container">
              <div class="container">
                  <div class="row">
                      <div class="col-md-4 col-sm-2 pull-left">
                          <div class="navbar-header">
                              <h1 class="navbar-brand img-responsive"> <a data-type='rd-navbar-brand' href="Home.html"><img src="images/HH/hhlogo.PNG" alt="logo" class="img-responsive"></a> </h1>
                          </div>
                      </div>
                      <div class="col-md-8 col-sm-10 pull-right">
                          <nav class="navbar navbar-default navbar-inverse pull-right">
                              <div class="">
                                  <ul class="nav navbar-nav sf-menu" data-type="navbar">
                                      <li class="active"><a href="Home.html">Home</a></li>
                                      <li class="dropdown">
                                          <a href="Holiday-List.html">Holiday List <i class="fa" aria-hidden="true"></i></a>
                                          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                              <li><a href="#">Himachal Holidays</a></li>
                                              <li><a href="#">Kashmir Holidays</a></li>
                                              <li><a href="#">Explore North-East</a></li>
                                              <li class="divider"></li>
                                          </ul>
                                      </li>
                                      <li><a href="HolidayParallax.html">Holidays</a></li>
                                      <li><a href="BikeParallax.html">Bikes</a></li>
                                      <li><a href="About-us.html">About Us</a></li>
                                      <li><a href="contact-us.html">Contact</a></li>
                                  </ul>
                              </div>
                          </nav>

                      </div>
                  </div>

                  <!--/nav-->
              </div>
          </div>
      </header>
      <!--/header-->
      <section id="landing">
          <div class="container-fluid">
              <!-- about us slider -->
              <div id="about-slider">
                  <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators visible-xs">
                          <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-slider" data-slide-to="1"></li>
                          <li data-target="#carousel-slider" data-slide-to="2"></li>
                          <li data-target="#carousel-slider" data-slide-to="3"></li>
                      </ol>
                      <div class="carousel-inner">
                          <div class="item active"> <img src="images/slider1.jpg" class="img-responsive" alt=""> </div>
                          <div class="item"> <img src="images/slider2.jpg" class="img-responsive" alt=""> </div>
                          <div class="item"> <img src="images/slider3.jpg" class="img-responsive" alt=""> </div>
                          <div class="item"> <img src="images/slider4.jpg" class="img-responsive" alt=""> </div>
                      </div>
                      <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev"> <i class="fa fa-angle-left"></i> </a> <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next"> <i class="fa fa-angle-right"></i> </a>
                  </div>
                  <!--/#carousel-slider-->
              </div>
          </div>
          <!--/#about-slider-->
      </section>
      <section>
          <div class="container">
              <!-- Our Skill -->
              <div class="skill-wrap clearfix">
                  <div class="center wow fadeInDown">
                      <h2 class="text-upper">Featured Bikes</h2>
                      <p class="lead">
                          The Himalayan Holidays offers Himalayan Motorcycle Adventure Tours that let's you experience the best of Indian Himalayas. <br>
                          Bike Holidays
                      </p>
                      <div class="row clearfix">
                          <div class="col-md-6 col-sm-6 col-xs-12 cont-col-inner">
                              <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                                  <h2 class="title-bg">Thunderbird</h2>
                                  <div class="media">
                                      <div class="pull-center">
                                          <a href="HolidayDetails.html">
                                              <img src="images/Royal-Enfiled-green.jpg" class="img-responsive" alt="">
                                              <span class="cherry-quick-view">Quick view</span>
                                          </a>
                                      </div>
                                      <h5>Royal Enfield - Thunderbird</h5>

                                  </div>
                                  <!--/.media -->
                                  <p>
                                      The all new Royal Enfield Thunderbird now with a powerful 350 cc engine, a 20 litre tank, digital meter console and LED tail lamps gives a new definition to Highway cruising.

                                      Perhaps one of the most anticipated models from the Royal Enfield stable, Thunderbird 350 is poised to enhance the pleasure of leisure motorcycling amongst the touring enthusiasts. Thunderbird 350 with its distinctive "black" styling is all set to make a distinct statement on the roads.
                                  </p>
                              </div>
                          </div>
                          <!--/.col-lg-6 -->
                          <div class="col-md-6 col-sm-6 col-xs-12 cont-col-inner">
                              <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                                  <h2 class="title-bg">Bullet Chrome</h2>
                                  <div class="media">
                                      <div class="pull-center">
                                          <a href="HolidayDetails.html">
                                              <img src="images/Royal-Enfiled-silver.jpg" class="img-responsive" alt="">
                                              <span class="cherry-quick-view ">Quick view</span>
                                          </a>
                                      </div>
                                      <h5>Royal Enfield - Machismo</h5>

                                  </div>
                                  <!--/.media -->
                                  <p>Patterned in the excellent line of the Standard Bullet and Thunderbird, Machismo 350 is a well-made motorcycle powered by a refined 346cc lean burn engine of single cylinder, 4 stroke and air-cooled set up. The petrol tank displays a sparkling aspect with the beautiful stroke of chrome paint. The options of windshield and saddlebag add to the aggressive persona and complete look of the bike. </p>
                              </div>
                          </div>

                          <!--/.col-lg-6 -->
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <section>
          <div class="container">
              <!--/.our-skill-->
              <!-- our-team -->
              <div class="team">
                  <div class="center wow fadeInDown">
                      <h2 class="text-upper">Happy Customers</h2>
                      <p class="lead">See what our satisfied customers says? </p>
                  </div>
                  <div class="row clearfix box-height-home">
                      <div class="col-md-4 col-sm-4 col-xs-12 banner-wrap ">
                          <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                              <div class="cont-col-inner">
                                  <div class="media">
                                      <a href="#"><img class="media-object img-responsive" src="images/Royal-Enfield2.jpg" alt=""></a>

                                  </div>
                                  <!--/.media -->

                                  <div class="media-body">
                                      <h4>Satish</h4>
                                      <h5>Leh - Ladakh Tour</h5>
                                  </div>
                                  <div class="des-cont">
                                      <p>
                                          “We live in a wonderful world that is full of beauty, charm and adventure. There is no end to the adventures we can have if only we seek them with our eyes open.”
                                      </p>
                                      <p>The package of Himalayan Holidays is great and they didn't hid anything - Satish </p>

                                  </div>

                                  <div class="link-align banner-btn"><a href="Bike.html" title="read more" class="btn btn-link" target="_self">Explore</a></div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 banner-wrap ">
                          <div class="single-profile-top wow fadeInDown" data-wow-duration="1200ms" data-wow-delay="400ms">
                              <div class="cont-col-inner">
                                  <div class="media">
                                      <a href="#"><img class="media-object img-responsive" src="images/Royal-Enfield1.jpg" alt="" /></a>

                                      <div class="media-body">
                                          <h4>Shivam</h4>
                                          <h5>Sikkim - Gangtok tour</h5>
                                      </div>

                                      <!--/.media -->
                                      <div class="des-cont">
                                          <p>“Travel opens your mind as few other things do. It is its own form of hypnotism, and I am forever under its spell.” </p><p> My journey was something felt like living into a different world - Thank You Himalayan Holidays - Shivam.</p>
                                      </div>
                                      <div class="link-align banner-btn"><a href="Bike.html" title="read more" class="btn btn-link" target="_self">Explore</a></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 banner-wrap ">
                          <div class="single-profile-top wow fadeInDown" data-wow-duration="1400ms" data-wow-delay="600ms">
                              <div class="cont-col-inner">
                                  <div class="media">
                                      <a href="#"><img class="media-object img-responsive" src="images/Royal-Enfield3.jpg" alt=""></a>

                                      <div class="media-body">
                                          <h4>Atul</h4>
                                          <h5>Darjeeling Tour</h5>
                                      </div>

                                      <!--/.media -->
                                      <div class="des-cont">
                                          <p>“The great glory of travel, I change from an outsider looking in to an insider looking out.”</p><p>“You should be very excited because you can finally make that trip you wanted. Take advantage of every day of your vacations. Atul" - Thanks a lot Himalayan Holidays.</p>
                                      </div>
                                      <div class="link-align banner-btn"><a href="Bike.html" title="read more" class="btn btn-link" target="_self">Explore</a></div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <!--/.col-lg-4 -->
                  </div>
              </div>
              <!--section-->
          </div>
          <!--/.container-->
      </section>
      <section>
          <div class="container">
              <div class="news-testimonial padding-top0">
                  <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-12 ">
                          <div class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                              <div class="thumbnail center text-left">
                                  <h2>Newsletter :</h2>
                                  <form action="" id="NewsletterVal">
                                      <div id="thanksmsg">
                                          <p>
                                              Sign up to get exclusive offers from our
                                              favorite brands and to be well up in the news.
                                          </p>

                                          <div class="input-group">
                                              <span class="input-group-addon">
                                                  <i class="fa fa-envelope"></i>
                                              </span>
                                              <input class="form-control" type="email" id="myEmail" name="email" placeholder="your@email.com"  required>
                                          </div>
                                          <input type="submit" value="Subscribe" class="btn btn-large btn-primary" id="newsbtn" disabled />

                                      </div>
                                  </form>
                                  <p id="thanksmsgcont">
                                      <strong>Thanks! Please check your inbox to confirm your subscription. </strong>
                                      <br /><br />
                                      <b>If you haven’t previously confirmed a subscription to a Himalayan Holidays newsletter you may have to do so. Please check your inbox or your spam filter for an email from us.</b>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <!--/.col-lg-4 -->
                      <div class="col-md-6 col-sm-6 col-xs-12 ">
                          <div class=" wow fadeInDown" data-wow-duration="1200ms" data-wow-delay="400ms">
                              <div class="thumbnail center text-left">
                                  <h2>Testimonials:</h2>
                                  <form action="" method="post" id="testimonialVal">
                                      <div id="thanksmsgtestimonial">
                                          <p>We would love to hear from you! Please fill out this form and we will get in touch with you shortly.</p>
                                          <div class="input-group">
                                              <span class="input-group-addon">
                                                  Biker:
                                              </span>
                                              <input class="form-control" type="text" id="bikers" name="biker" placeholder="Enter your Name" required>
                                          </div>
                                          <br />
                                          <div class="input-group">
                                              <span class="input-group-addon">
                                                  Email:
                                              </span>
                                              <input class="form-control" type="email" id="myEmail2" name="email" placeholder="abc@gmail.com" required>
                                          </div>
                                          <br />
                                          <div class="input-group">
                                              <span class="input-group-addon">
                                                  Tour:
                                              </span>
                                              <select class="form-control" id="seloption" name="selectbox" required>
                                                  <option> Select Tour </option>
                                                  <option> Leh - Ladakh Tour </option>
                                                  <option> Sikkim - Gangtok tour </option>
                                                  <option> Darjeeling Tour </option>

                                              </select>

                                          </div>
                                          <br />
                                          <div class="input-group">
                                              <span class="input-group-addon">
                                                  Love:
                                              </span>
                                              <textarea class="text-cont" name="textareabox" id="messg" placeholder="Please enter your message"></textarea>
                                          </div>
                                          <input type="submit" value="Send Love" id="sendlove" class="btn btn-large btn-primary" disabled />
                                          <input type="submit" value="Edit Love" class="btn btn-large btn-primary" id="editbtn" disabled />
                                      </div>
                                  </form>
                                  <p id="thanksmsgcontect">
                                      <strong>
                                          Thanks for sending us love. Your testimonial will be published shortly.
                                      </strong>
                                  </p>
                              </div>
                          </div>
                      </div>

                      <!--/.col-lg-4 -->
                  </div>
                  <!--/.row -->
                  <!--skill_border-->
                  <div class="row clearfix"> </div>
                  <!--/.row-->
              </div>
              <!--section-->
          </div>
          <!--/.container-->
      </section>

      <footer id="footer" class="midnight-blue">
          <div class="container">
              <div class="row">
                  <div class="col-md-5 col-sm-3 col-xs-12"> &copy; 2017 <a target="_blank" href="Home.html" title="Himalayan Holidays">Himalayan Holidays</a>. All Rights Reserved. </div>
                  <div class="col-md-5 col-sm-7 col-xs-12">
                      <div class="footer-link">
                          <ul class="footer-link-left">
                              <li class="active"><a href="Home.html">Home</a></li>
                              <li><a href="Holiday-List.html">Holiday List</a></li>
                              <li><a href="HolidayParallax.html">Holidays</a></li>
                              <li><a href="BikeParallax.html">Bikes</a></li>
                              <li><a href="About-us.html">About Us</a></li>
                              <li><a href="contact-us.html">Contact</a></li>
                          </ul>


                      </div>

                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-12">
                      <a class="navbar-brand" href="Home.html"><img src="images/HH/hhlogo.PNG" alt="logo" class="img-responsive"></a>
                  </div>
              </div>
          </div>
      </footer>

      <div id="hsearch" class="hsearch">
          <form class="hsearch-form">
              <input class="hsearch-input" type="search" placeholder="Search...">
              <button class="hsearch-submit" type="submit">Search</button>
          </form>
          <div class="hsearch-content">
              <div class="row">

                  <div class="cont-col">
                      <h2>Bike</h2>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H1.jpg" alt="">
                          <h3>Bullet Chrome</h3>
                      </a>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H2.jpg" alt="">
                          <h3>Thunderbird</h3>
                      </a>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H3.jpg" alt="">
                          <h3>Bullet Chrome</h3>
                      </a>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H1.jpg" alt="">
                          <h3>Bullet Chrome</h3>
                      </a>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H2.jpg" alt="">
                          <h3>Thunderbird</h3>
                      </a>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H3.jpg" alt="">
                          <h3>Bullet Chrome</h3>
                      </a>

                  </div>
                  <div class="cont-col">

                      <h2>Holidays</h2>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H1.jpg" alt="Sara Soueidan">
                          <h3>Himachal Holidays</h3>
                      </a>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H3.jpg" alt="Rachel Smith">
                          <h3>Kashmir Holidays</h3>
                      </a>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H2.jpg" alt="Peter Finlan">
                          <h3>Explore North-East</h3>
                      </a>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H1.jpg" alt="Sara Soueidan">
                          <h3>Himachal Holidays</h3>
                      </a>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H3.jpg" alt="Rachel Smith">
                          <h3>Kashmir Holidays</h3>
                      </a>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H2.jpg" alt="Peter Finlan">
                          <h3>Explore North-East</h3>
                      </a>
                  </div>
                  <div class="cont-col">
                      <h2>Recent Holiday List</h2>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H1.jpg" alt="Sara Soueidan">
                          <h3>Himachal Holidays</h3>
                      </a>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H3.jpg" alt="Rachel Smith">
                          <h3>Kashmir Holidays</h3>
                      </a>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H2.jpg" alt="Peter Finlan">
                          <h3>Explore North-East</h3>
                      </a>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H1.jpg" alt="Sara Soueidan">
                          <h3>Himachal Holidays</h3>
                      </a>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H3.jpg" alt="Rachel Smith">
                          <h3>Kashmir Holidays</h3>
                      </a>
                      <a class="dummy-media-object" href="#">
                          <img src="images/RE-H2.jpg" alt="Peter Finlan">
                          <h3>Explore North-East</h3>
                      </a>
                  </div>
              </div>
          </div><!-- /hsearch-content -->
          <span class="hsearch-close"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.prettyPhoto.js"></script>
      <script src="js/jquery.isotope.min.js"></script>
      <script src="js/main.js"></script>
      <script src="js/wow.min.js"></script>
      <script src="js/Mobilemenu.js"></script>
      <script src="js/custom.js"></script>
      <script src="js/search.js"></script>
      <script src="js/validation.js"></script>

      <script>
          (function () {
              var hsearch = document.getElementById('hsearch');
              if (hsearch != null && hsearch != 'undefined') {

                  input = hsearch.querySelector('input.hsearch-input'),
                      ctrlClose = hsearch.querySelector('span.hsearch-close'),
                      isOpen = isAnimating = false,
                      // show/hide search area
                      toggleSearch = function (evt) {
                          // return if open and the input gets focused
                          if (evt.type.toLowerCase() === 'focus' && isOpen) return false;

                          var offsets = hsearch.getBoundingClientRect();
                          if (isOpen) {
                              classie.remove(hsearch, 'open');

                              // trick to hide input text once the search overlay closes
                              // todo: hardcoded times, should be done after transition ends
                              if (input.value !== '') {
                                  setTimeout(function () {
                                      classie.add(hsearch, 'hideInput');
                                      setTimeout(function () {
                                          classie.remove(hsearch, 'hideInput');
                                          input.value = '';
                                      }, 300);
                                  }, 500);
                              }

                              input.blur();
                          }
                          else {
                              classie.add(hsearch, 'open');
                          }
                          isOpen = !isOpen;
                      };

                  // events
                  input.addEventListener('focus', toggleSearch);
                  ctrlClose.addEventListener('click', toggleSearch);
                  // esc key closes search overlay
                  // keyboard navigation events
                  document.addEventListener('keydown', function (ev) {
                      var keyCode = ev.keyCode || ev.which;
                      if (keyCode === 27 && isOpen) {
                          toggleSearch(ev);
                      }
                  });


                  /***** for demo purposes only: don't allow to submit the form *****/
                  hsearch.querySelector('button[type="submit"]').addEventListener('click', function (ev) { ev.preventDefault(); });

              }

          })();
      </script>
  </body>
</html>