
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Glass.Mapper.Sc
@using HimalayanHolidays
@model HimalayanHolidays.Models.GlassBase
@{

}
<div class="center wow fadeInDown team marginTop30 holidayspage animated" style="visibility: visible; animation-name: fadeInDown;">
    <h2 class="text-upper">  @Html.Glass().Editable(x => x.Title)</h2>

    @*<img src="images/HH/forest-biking.png" class="right img-responsive">
        @Html.Glass().Editable(x => x.Text)*@
</div>
