<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=ICAN-DEVDBS\MSSQLSVR2016;Initial Catalog=himalayanHolidays_core;Integrated Security=False;User ID=sa;Password=l0$tman@123" />
  <add name="master" connectionString="Data Source=ICAN-DEVDBS\MSSQLSVR2016;Initial Catalog=himalayanHolidays_master;Integrated Security=False;User ID=sa;Password=l0$tman@123" />
  <add name="web" connectionString="Data Source=ICAN-DEVDBS\MSSQLSVR2016;Initial Catalog=himalayanHolidays_web;Integrated Security=False;User ID=sa;Password=l0$tman@123" />
  <add name="analytics" connectionString="mongodb://localhost:27017/himalayanHolidays_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/himalayanHolidays_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/himalayanHolidays_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/himalayanHolidays_tracking_contact" />
  <add name="reporting" connectionString="Data Source=ICAN-DEVDBS\MSSQLSVR2016;Initial Catalog=himalayanHolidays_reporting;Integrated Security=False;User ID=sa;Password=l0$tman@123" />
  <add name="reporting.apikey" connectionString="" />
</connectionStrings>