@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Links
@using Sitecore.Data.Items
@model List<Item>
@{

}
@if (Model != null)
{
<ol class="breadcrumb bread-primary ">
    @foreach (Item item in Model)
    {
    <li><a href="@LinkManager.GetItemUrl(item).">@item.Name</a></li>
    }
</ol>


}
else
{
    <p>Empty Model was passed</p>
}
