@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using DynamicPlaceholders.Mvc.Extensions
@model RenderingModel
@{

}
<div class="col-sm-12 col-md-6 col-xs-12">
    @Html.Sitecore().DynamicPlaceholder("leftColumn")
</div>
<div class="col-sm-12 col-md-6 col-xs-12">
    @Html.Sitecore().DynamicPlaceholder("rightColumn")
</div>