@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="col-sm-12 col-md-6 col-xs-12">
    @Html.Sitecore().Placeholder("leftColumn")
</div>
<div class="col-sm-12 col-md-6 col-xs-12">
    @Html.Sitecore().Placeholder("rightColumn")
</div>