@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="center wow fadeInDown team marginTop30 holidayspage animated" style="visibility: visible; animation-name: fadeInDown;">
    <h2 class="text-upper">About Himalayan Holidays</h2>

    <img src="images/HH/forest-biking.png" class="right img-responsive">
    <p>
        Himalayan Holidays, the pioneers in travel and tourism since 1999, is a government approved leading tour operator and travel agent in North East India catering to foreign tourists and Indian visitors. Himalayan Holidays is an accredited member of Indian Association of Tour Operators (IATO), Association of Tour Operators of North East India (ATONEI), Adventure Tour Operators Association of India (ATOAI), Eastern Himalaya Travel &amp; Tour Operators Association (EHTTOA), Arunachal Pradesh Tour Operators Association (APTOA), Indian Chamber of Commerce (ICC) and Arunachal Mountaineering &amp; Adventure Sports Association (AMASA).
        Himalayan Holidays is run by a group of tourism professionals led multidimensional personality and a well known figure in tourism industry. The fascinating beauty of North East India is not only little explored but little known to outside world. Hence to promote NE India in the competitive world market, and we regularly participated in International Tourism Borse (ITB Berlin), World Travel Market (WTM London), ASTA World Travel Congress (Los Angeles), International Tourism Asia (ITA Hong Kong), COTAL Congress (Gyeongju Korea), Entertainment &amp; Incentive Business Travel Mart (EIBTM Geneva), South Asia Travel &amp; Tourism Exchange (SATTE) etc. Mr. Wange's tourism presentation in New York, Amsterdam, Madrid and Milan in association with Govt. of India Tourist Office was a great hit with travel trade media - generating rave reviews and the much needed publicity of NE India tourism.
    </p><p>
        Himalayan Holidays is the proud recipient of many awards, certificates and letter of appreciation but following four are note worthy :-

        »

        Bharat Excellence Award 2004 and Jewel of India Gold Award 2004 : For the contribution made in developing and promoting environment and eco friendly tourism in North East India.
        »

        Ministry of Tourism, Govt. of India : For regular participation in tourism fairs and festivals for projecting and promoting the little known N. E. India Tourism.
        »


        Bollywood For the excellent ground arrangement and transportation of bollywood film during their forty five days shooting stint in Arunachal Pradesh.
        »
    </p>
    <p>
        We guarantee you the best value for your money by providing quality services. We offer exciting tour packages for the whole N E India - Arunachal Pradesh, Assam, Meghalaya, Nagaland, Manipur, Mizoram and Tripura and Bhutan. Endowed with unsurpassed beauty, the North East India was until recently the hidden frontier, existing in splendid isolation. The magnificent landscape in its unspoiled glory is now accessible and open to tourist, travelers and adventure lovers. Come, explore and discover yourself amidst the charming tribal people and denizens of the endless greens and measure your appetite for the elixir of life. And whoever saw the honey flying to the bee ! Come and take home a bit of what heaven is made of.....

        Himalayan Holidays beckons you to discover the new vistas of unexplored North East India -

        Arunachal Pradesh : Land of the rising sun - the hidden Himalayan state unfolds!
        Assam : Land of red river &amp; blue hills - home of the great Indian one horned Rhinoceros!
        Meghalaya : Scotland of the East - orchids above the clouds, romance in the air, a paradise!
        Nagaland : Land of the brave Nagas - affluent fashion stationt, warm hearted &amp; fun loving!
        Manipur : The Jewel of India - a mosaic of culture and tradition, a beautiful little Shangrila!
        Mizoram : The land of highlanders - enchantment, contentment, a musical way of life!
        Tripura : The Princely State - splendoured palaces, lakes &amp; temples, an odyssey unmatched!
    </p>
</div>