@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="panel-group holidays-list-section wow fadeInDown animated" id="accordion" role="tablist" aria-multiselectable="true" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                    <i class="more-less glyphicon glyphicon-plus"></i>
                    Himachal Holidays
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" style="height: 0px;">
            <div class="panel-body">
                <img class="img-responsive resp-image" src="images/RE-H3.jpg">
                <p class="comment more holiday-list-sec">
                    We offer different Himalayan Motorcycle Adventure Tours that offer you the best of
                    Indian Himalayas.Solid riding skills, a sense of adventure and flexibility are a must
                    when taking part in ou<span class="moreellipses">...&nbsp;</span><span class="morecontent">
                        <span>
                            r Himalaya motorcycle expeditions, which cover around 1,700 km
                            and considerable altitude differences. Road conditions vary from freshly-paved to rough
                            tracks. The Ladakh Overland Bike Tour is an 18-day bike trip that starts in Kullu Valley.
                            This trip starts off with several passes that are extremely high by western standards: 3,975
                            m, 4,980 m, 5,065 m, 5,328 m and finally 5,608 meters altitude at Khardung La pass - it's
                            the ultimate challenge for bikes and bikers and is sometimes rather appropriately referred
                            to as the "Highway to Heaven"!

                            Lying on the western coast of Indian Peninsula, Goa is a mix of natural andcultural heritage.
                            Until the year 1961, Goa was under the Portuguese rule that greatly influenced its architecture
                            and lifestyle. Sun-kissed sand, the azure Arabian Sea and clear blue skies, all of it beckons
                            thousands of tourists to this vacation spot. Be it surfing, sightseeing or partying, there are
                            innumerable fun activities to be indulged in with Goa tour packages. Goa can easily be reached by
                            air, train or road. Goa International Airport, more commonly known as Dabolim Airport, is approximately
                            30 kilometres from Panjim – the state capital. It is well connected with other Indian states by railway
                            lines and national highways. With Goa beach holidays thousands of domestic and international tourists
                            come here every year. There is wide range of hotels in Goa for visitors where tourist can feel the comfort
                            of home. This lively state offers spectacular landscapes and a number of tangible and intangible attractions
                            to its visitors. The scenic Dudhsagar Waterfall, located on Mandovi River, is one of the most precious gifts
                            of nature to Goa.

                            One of the Seven Sisters of India, all of which are labeled paradise unexplored, Arunachal Pradesh Tour is
                            sure to leave you spellbound. Known as the Land of Dawn-lit Mountains, Arunachal Pradesh Holidays promise
                            to be a soul-stirring experience. Lush, dense forests shroud most of the beautiful landscape. This place
                            also flaunts some gentle hills, steep mountains and rugged snow-capped peaks that are a big draw for
                            Holiday Packages.

                            Ladakh is an unexplored Himalayan wonderland. Leh, the capital of Ladakh is set amidst snow capped
                            hills and is the center of Tibetan-Buddhist culture. Ladakh is dotted with colourful monasteries and
                            is also a popular destination for adventure buffs. Within Ladakh flows the River Indus Zanskar, which
                            draws river rafters from far and wide.Nubra Valley and Alchi are other tourist hotspots in Ladakh. Besides
                            this, Ladakh is a land known for traditional culture and heritage. Ladakh is also home to rare wilflife
                            including the wild yak, ibex and Tibetan antelope.Make your next holiday to Ladakh, a truly awe inspiring
                            destination.
                        </span>&nbsp;&nbsp;<a href="" class="morelink">Read More</a>
                    </span>
                </p>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="more-less glyphicon glyphicon-plus"></i>
                    Kashmir Holidays
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <img class="img-responsive resp-image" src="images/RE-H2.jpg">
                <p class="comment more holiday-list-sec">
                    We offer different Himalayan Motorcycle Adventure Tours that offer you the best
                    of Indian Himalayas.Solid riding skills, a sense of adventure and flexibility are a must
                    when taking part in ou<span class="moreellipses">...&nbsp;</span><span class="morecontent">
                        <span>
                            r Himalaya motorcycle expeditions, which cover around 1,700 km and
                            considerable altitude differences. Road conditions vary from freshly-paved to rough tracks.
                            The Ladakh Overland Bike Tour is an 18-day bike trip that starts in Kullu Valley. This trip starts
                            off with several passes that are extremely high by western standards: 3,975 m, 4,980 m, 5,065 m,
                            5,328 m and finally 5,608 meters altitude at Khardung La pass - it's the ultimate challenge for
                            bikes and bikers and is sometimes rather appropriately referred to as the "Highway to Heaven"!
                        </span>&nbsp;&nbsp;<a href="" class="morelink">Read More</a>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="more-less glyphicon glyphicon-plus"></i>
                    Explore North-East
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <img class="img-responsive resp-image" src="images/RE-H1.jpg">
                <p class="comment more holiday-list-sec">
                    We offer different Himalayan Motorcycle Adventure Tours that offer you the best of Indian Himalayas.
                    Solid riding skills, a sense of adventure and flexibility are a must when taking part in our Himalaya
                    <span class="moreellipses">...&nbsp;</span><span class="morecontent">
                        <span>
                            motorcycle expeditions, which cover around 1,700 km and considerable altitude differences. Road
                            conditions vary from freshly-paved to rough tracks. The Ladakh Overland Bike Tour is an 18-day bike
                            trip that starts in Kullu Valley. This trip starts off with several passes that are extremely high
                            by western standards: 3,975 m, 4,980 m, 5,065 m, 5,328 m and finally 5,608 meters altitude at Khardung
                            La pass - it's the ultimate challenge for bikes and bikers and is sometimes rather appropriately
                            referred to as the "Highway to Heaven"!
                        </span>&nbsp;&nbsp;<a href="" class="morelink">Read More</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>