@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div>
    <li class="col-sm-3">
        <address>
            <h5>Head Office</h5>
            <p>
                XYZ, Dwarka <br>
                Dwarka, New Delhi 110001
            </p>
            <p>
                Phone: 123-456-7891 <br>
                Email Address: admin@hh.com
            </p>
        </address>
        <address>
            <h5>Zonal Office</h5>
            <p>
                XYZ, Dwarka <br>
                Dwarka, New Delhi 110001
            </p>
            <p>
                Phone: 123-456-7891 <br>
                Email Address: admin@hh.com
            </p>
        </address>
    </li>
    <li class="col-sm-3">
        <address>
            <h5>Zone#2 Office</h5>
            <p>
                XYZ, Dwarka <br>
                Dwarka, New Delhi 110001
            </p>
            <p>
                Phone: 123-456-7891 <br>
                Email Address: admin@hh.com
            </p>
        </address>
        <address>
            <h5>Zone#3 Office</h5>
            <p>
                XYZ, Dwarka <br>
                Dwarka, New Delhi 110001
            </p>
            <p>
                Phone: 123-456-7891 <br>
                Email Address: admin@hh.com
            </p>
        </address>
    </li>
</div>