@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="indentedSection">
    <ul class="book-description">
        <li>
            <div>Type</div>
            <span> Hybrid </span>
        </li>
        <li>
            <div>Suitability</div>
            <span>Mountains</span>
        </li>
        <li>
            <div>Power</div>
            <span> 500cc </span>
        </li>
        <li>
            <div>Availability</div>
            <span>Available</span>
        </li>
        <li>
            <div>Rent per day</div>
            <span>INR 700</span>
        </li>
    </ul>
</div>