@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<ol class="breadcrumb bread-primary ">
    <li><a href="Home.html">Home</a></li>
    <li class="active">Holiday List</li>
</ol>