@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
 &copy; 2017 
<a target="_blank" href="Home.html" title="Himalayan Holidays">Himalayan Holidays</a>. 
All Rights Reserved. 