@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="inner-class-width">
    <h2>Featured Holidays</h2>
    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="media">
            <div class="pull-left">
                <a href="#"><img class="media-object img-responsive" src="images/f1.jpg" alt=""></a>
            </div>

        </div>
        <div class="media-body detail-head">
            <h4>Leh - Ladakh Tour</h4>
            <h5><b>Must do:- Life Time Experience</b></h5>
        </div>
        <!--/.media -->
        <p>
            “We live in a wonderful world that is full of beauty, charm and adventure. There is no end to the adventures we can have if only we seek them with our eyes open.”
        </p><p>The package of Himalayan Holidays is great and they didn't hid anything - Satish </p>
    </div>
</div>