@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="footer-link">
    <ul class="footer-link-left">
        <li class="active"><a href="Home.html">Home</a></li>
        <li><a href="Holiday-List.html">Holiday List</a></li>
        <li><a href="HolidayParallax.html">Holidays</a></li>
        <li><a href="BikeParallax.html">Bikes</a></li>
        <li><a href="About-us.html">About Us</a></li>
        <li><a href="contact-us.html">Contact</a></li>
    </ul>
</div>