@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="team">
    <div class="center wow fadeInDown">
        <h2 class="text-upper">Happy Customers</h2>
        <p class="lead">See what our satisfied customers says? 
        " hii all team member"
        </p>
    </div>
    <div class="row clearfix box-height-home">
        <div class="col-md-4 col-sm-4 col-xs-12 banner-wrap ">
            <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="cont-col-inner">
                    <div class="media">
                        <a href="#"><img class="media-object img-responsive" src="images/Royal-Enfield2.jpg" alt=""></a>

                    </div>
                    <!--/.media -->

                    <div class="media-body">
                        <h4>Satish</h4>
                        <h5>Leh - Ladakh Tour</h5>
                    </div>
                    <div class="des-cont">
                        <p>

                            "....hello world ,this id for demo. Today is the first Day of this training"
                            "New Line Addeds ::::::::::::::"
                            "hello world ,this id for demo..............................nv nbsnv "

                            "hello world ,this id for demo"
                            “We live in a wonderful world that is full of beauty, charm and adventure. There is no end to the adventures we can have if only we seek them with our eyes open.”
                        </p>
                        <p>The package of Himalayan Holidays is great and they didn't hid anything - Satish </p>

                    </div>

                    <div class="link-align banner-btn"><a href="Bike.html" title="read more" class="btn btn-link" target="_self">Explore</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 banner-wrap ">
            <div class="single-profile-top wow fadeInDown" data-wow-duration="1200ms" data-wow-delay="400ms">
                <div class="cont-col-inner">
                    <div class="media">
                        <a href="#"><img class="media-object img-responsive" src="images/Royal-Enfield1.jpg" alt="" /></a>

                        <div class="media-body">
                            <h4>Shivam</h4>
                            <h5>Sikkim - Gangtok tour</h5>
                        </div>

                        <!--/.media -->
                        <div class="des-cont">
                            <p>“Travel opens your mind as few other things do. It is its own form of hypnotism, and I am forever under its spell.” </p><p> My journey was something felt like living into a different world - Thank You Himalayan Holidays - Shivam.</p>
                        </div>
                        <div class="link-align banner-btn"><a href="Bike.html" title="read more" class="btn btn-link" target="_self">Explore</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 banner-wrap ">
            <div class="single-profile-top wow fadeInDown" data-wow-duration="1400ms" data-wow-delay="600ms">
                <div class="cont-col-inner">
                    <div class="media">
                        <a href="#"><img class="media-object img-responsive" src="images/Royal-Enfield3.jpg" alt=""></a>

                        <div class="media-body">
                            <h4>Atul</h4>
                            <h5>Darjeeling Tour</h5>
                        </div>

                        <!--/.media -->
                        <div class="des-cont">
                            <p>“The great glory of travel, I change from an outsider looking in to an insider looking out.”</p><p>“You should be very excited because you can finally make that trip you wanted. Take advantage of every day of your vacations. Atul" - Thanks a lot Himalayan Holidays.</p>
                        </div>
                        <div class="link-align banner-btn"><a href="Bike.html" title="read more" class="btn btn-link" target="_self">Explore</a></div>
                    </div>
                </div>
            </div>
        </div>

        <!--/.col-lg-4 -->
    </div>
</div>