@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="center wow fadeInDown team marginTop30 holidayspage">
    <h2 class="text-upper">Discover Ladakh</h2>
    <div class="indentedSection content marginTop90">
        <img src="images/HH/banner.png" class="right img-responsive" />
        <p>We offer different Himalayan Motorcycle Adventure Tours that offer you the best of Indian Himalayas. Solid riding skills, a sense of adventure and flexibility are a must when taking part in our Himalaya motorcycle expeditions, which cover around 1,700 km and considerable altitude differences. Road conditions vary from freshly-paved to rough tracks. </p>
        <p>The Ladakh Overland Bike Tour is an 18-day bike trip that starts in Kullu Valley. This trip starts off with several passes that are extremely high by western standards: 3,975 m, 4,980 m, 5,065 m, 5,328 m and finally 5,608 meters altitude at Khardung La pass - it's the ultimate challenge for bikes and bikers and is sometimes rather appropriately referred to as the "Highway to Heaven"!</p>
        <p>The 3 Lakes and 7 Passes of Ladakh and Nubra Valley Motorcycle Tour covers all of the highlights of the ancient Buddhist kingdom of Ladakh, as well as the three most beautiful Himalayan lakes in the border region to Tibet which are all located at altitudes of more than 4,500 meters. During this bike tours We will spend 11 days on the road in Ladakh The Little Tibet Motorbike Tour offers us the opportunity to witness the enchanting landscape of Tibet in the Indian Himalayas, which is just as spectacular as in Tibet proper. The little Tibet motorbike tour will take us through the Sutlej and Spiti valleys to the very roof of the world.</p>
    </div>
</div>