@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="indentedSection">
    <ul class="book-description">
        <li>
            <div>Date</div>
            <span> 28th April 2017</span>
        </li>
        <li>
            <div>Price per person</div>
            <span>Rs: 5000 per person</span>
        </li>
        <li>
            <div>Duration</div>
            <span>7 days</span>
        </li>
        <li>
            <div>Recommended Bike</div>
            <span>The Thunderbird 500</span>
        </li>
    </ul>
</div>