@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="padding comment-section">
    <h1>Latest Comments</h1>
    <p class="name"></p>
    <p class="comment">I really enjoyed this holiday.</p>
    <p class="url"> <strong>Ashraf Bhatt - </strong> <a href="#">http://www.mytour.com/</a>
    <p class="name"></p>
    <p class="comment">That was awesome experience!</p>
    <p class="url"><strong>Prashant Tomar - </strong> <a href="#">http://www.mytour.com/</a></p>
    <p class="name"></p>
    <p class="comment">I really enjoyed this holiday.</p>
    <p class="url"><strong>Anjani Kumar - </strong> <a href="#">http://www.mytour.com/</a></p>
</div>