@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="navbar-header">
    <h1 class="navbar-brand img-responsive"> <a data-type='rd-navbar-brand' href="Home.html"><img src="images/HH/hhlogo.PNG" alt="logo" class="img-responsive"></a> </h1>
</div>