@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
    <h2 class="text-upper">Bike</h2>
</div>