@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<nav class="navbar navbar-default navbar-inverse pull-right">
    <div class="">
        <ul class="nav navbar-nav sf-menu" data-type="navbar">
            <li class="active"><a href="Home.html">Home</a></li>
            <li class="dropdown">
                <a href="Holiday-List.html">Holiday List <i class="fa" aria-hidden="true"></i></a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li><a href="#">Himachal Holidays</a></li>
                    <li><a href="#">Kashmir Holidays</a></li>
                    <li><a href="#">Explore North-East</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
            <li><a href="HolidayParallax.html">Holidays</a></li>
            <li><a href="BikeParallax.html">Bikes</a></li>
            <li><a href="About-us.html">About Us</a></li>
            <li><a href="contact-us.html">Contact</a></li>
        </ul>
    </div>
</nav>