@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="inner-class-width related-links">
    <h2>You might also like</h2>
    <div class="single-profile-top wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">

        <ul class="nav nav-pills nav-stacked">
            <li><a href="Holiday-List.html">Visit Kashmir</a></li>
            <li><a href="Holiday-List.html">Explore Arunachal</a></li>
            <li><a href="Holiday-List.html">Mountain Expeditions</a></li>
        </ul>
    </div>
</div>