@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div id="hsearch" class="hsearch">
    <form class="hsearch-form">
        <input class="hsearch-input" type="search" placeholder="Search...">
        <button class="hsearch-submit" type="submit">Search</button>
    </form>
    <div class="hsearch-content">
        <div class="row">

            <div class="cont-col">
                <h2>Bike</h2>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H1.jpg" alt="">
                    <h3>Bullet Chrome</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H2.jpg" alt="">
                    <h3>Thunderbird</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H3.jpg" alt="">
                    <h3>Bullet Chrome</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H1.jpg" alt="">
                    <h3>Bullet Chrome</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H2.jpg" alt="">
                    <h3>Thunderbird</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H3.jpg" alt="">
                    <h3>Bullet Chrome</h3>
                </a>

            </div>
            <div class="cont-col">

                <h2>Holidays</h2>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H1.jpg" alt="Sara Soueidan">
                    <h3>Himachal Holidays</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H3.jpg" alt="Rachel Smith">
                    <h3>Kashmir Holidays</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H2.jpg" alt="Peter Finlan">
                    <h3>Explore North-East</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H1.jpg" alt="Sara Soueidan">
                    <h3>Himachal Holidays</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H3.jpg" alt="Rachel Smith">
                    <h3>Kashmir Holidays</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H2.jpg" alt="Peter Finlan">
                    <h3>Explore North-East</h3>
                </a>
            </div>
            <div class="cont-col">
                <h2>Recent Holiday List</h2>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H1.jpg" alt="Sara Soueidan">
                    <h3>Himachal Holidays</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H3.jpg" alt="Rachel Smith">
                    <h3>Kashmir Holidays</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H2.jpg" alt="Peter Finlan">
                    <h3>Explore North-East</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H1.jpg" alt="Sara Soueidan">
                    <h3>Himachal Holidays</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H3.jpg" alt="Rachel Smith">
                    <h3>Kashmir Holidays</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <img src="images/RE-H2.jpg" alt="Peter Finlan">
                    <h3>Explore North-East</h3>
                </a>
            </div>
        </div>
    </div><!-- /hsearch-content -->
    <span class="hsearch-close"><i class="fa fa-search" aria-hidden="true"></i></span>
</div>