@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="text-center">
    <h2>How to Reach Us?</h2>
    <p class="lead">You can reach us from the following choices which are our zonal offices</p>
</div>